body {
    background-color: #ffffcc;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-brand {
    color: #2E8B57;
    font-style: italic;
    font-family: serif;
    font-weight: 600;
}

.collapse {
    justify-content: flex-end;
}

.nav-item a {
    color: #000;
}

.active a {
    color: #2E8B57;
}

.banner {
    background: url("pizza.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 350px;
}

.banner-heading {
    color: #fff;
    font-family: serif;
    font-size: 40px;
}

.banner-special {
    color: #fff;
    font-size: 20px;
}